<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      <div id="post-list" class="post-list-container">
        {% for post in site.posts %}
          {% if post.categories contains 'news' %}
            {% unless post.category contains 'draft' %}
              <a class="post-list-item" href="{{ post.url }}">
                <div class="post-image">
                  {% assign coverImage = "/assets/posts" | append: post.url | append: "cover.jpg" %}
                  <img src="{{ coverImage }}" alt="{{ post.title }}" title="{{ post.title }}">
                </div>

                <div class="post-title-container">
                  {% if post.dates %}
                    {% assign daymonthyear = post.dates %}
                  {% else %}
                    {% assign daymonthyear = post.date | date: "%d %B %Y" %}
                  {% endif %}
                  <div class="post-title">{{ post.title }}</div>
                  <div class="post-date">{{ daymonthyear }}</div>
                </div>
              </a>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
